.main__grid{
  margin: 100px auto;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
}
.main__article{
  text-align: center;
  img{
    // max-height: 413px;
    object-fit: contain;
  }
  &__img{
    overflow: hidden;
  }
  &__link{
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    padding: 5px 0;
    display: inline-block;
  }
  p{
    font-size: 15px;
    line-height: 22.5px;
  }
}
.main__pag{
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    list-style-type: none;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
      background-color: black;
      color: #fff;
    }
  }
}
.main__line{
  margin: 100px 0;
}
.aboutme{
  text-align: center;
  h1{
    margin-bottom: 35px;
  }
  h2{
    font-size: 20px;
    margin: 50px 0 20px;
  }
  p:nth-of-type(1){
    font-style: italic;
  }
  p:nth-of-type(2){
    line-height: 22.5px;
  }
  &__line{
    margin: 100px 0 50px;
  }
}


@media screen and (max-width:600px){
  .main__grid{
    grid-template-columns: 1fr;
  }
  .main__article img{
    max-height: 100%;
  }
  .aboutme{
    padding: 0 20px;
  }
  .footer{
    flex-direction: column;
    padding: 0 20px;
    & > *{
      width: 100%;
    }
  }
}
  